:root {
  --aqua: #085394;
  --gold: #ffd966;
  --justgreen: #009e0f;
  --orangecream: #f6b26b;
  --purple: #351c75;
  --textcolor: #444;
  --border-radius:5px;
}

/*/--------------  SCSS VARS  ----------------/*/

$aqua: var(--aqua);
$gold: var(--gold);
$justgreen: var(--justgreen);
$orangecream: var(--orangecream);
$purple: var(--purple);
$textcolor: var(--textcolor);

$border-radius: 5px;
$tt: 0.3s;
$transition-all: all $tt;

/*/--------------  FONTS  ----------------/*/

body {
  background: url('../public/img/bokette.jpg') center top no-repeat;
  background-size: cover;
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*/--------------  MAIN  ----------------/*/
* {
  box-sizing: border-box;
}

em {
  font-family: 'Montserrat-Italic';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}
/*/--------------  SEARCH  ----------------/*/

label {
  font-family: 'Kanit', sans-serif;
  padding: 0 10px;
  position: absolute;
  z-index: -1;
}

select,
input,
button {
  font-size: 18px;
  padding: 5px 10px;
}

#searchSection {
  margin: 20px auto 0 auto;
  width: 60%;
}

#searchForm {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px auto 0;
}

#searchBy {
}

#search {
  width: 90%;
}

.form-first {
  flex-basis: 20%;
  text-align: right;
}
.form-second {
  position: relative;
  flex-basis: 70%;
}
.form-third {
  flex-basis: 10%;
}

#searchSuggestions {
  background-color: white;
  border: 1px solid $purple;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  margin: 0 auto;
  max-height: 500px;
  overflow: scroll;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 99;

  a {
    color: $textcolor;
    display: block;
    font-family: 'Kanit';
    margin: 0;
    padding: 5px 20px;
    text-decoration: none;
    &:nth-child(2n + 1) {
      background-color: #efefef;
    }
  }
}

#searchResults {
  margin: 0 auto;
  padding-left: 60px;
  position: relative;

  width: 425px;
}
/*/--------------  HEADER  ----------------/*/

#header {
  background-color: $purple;
  border-bottom: 3px solid black;
  color: white;
  font-family: 'Kanit', 'Monserrat', sans-serif;
  height: 100px;
  .flexbox {
    display: flex;
    justify-content: space-around;
    h1 {
      font-size: 44px;
      margin: 14px 0;
    }
    nav {
      display: flex;
      flex-basis: 10%;
      gap: 10px;
      justify-content: space-around;
      padding: 10px 0;
      a {
        border: 1px solid transparent;
        border-radius: $border-radius;
        color: white;
        font-size: 24px;
        height: 3.5rem;
        padding: 8px 20px;
        text-decoration: none;
        transition: $transition-all;
        &:visited {
          color: white;
        }
        &:hover {
          border-color: white;
          transition: $transition-all;
        }
        &.home.homelink {
          border-color: white;
          transition: $transition-all;
        }
      }
    }
  }
}

/*/--------------  HOMEPAGE  ----------------/*/

.home {
  select,
  input,
  button {
    border-radius: $border-radius;
    font-size: 24px;
    padding: 10px 20px;
  }

  .maintext {
    background: rgba(255, 255, 255, 0.8);
    border: 3px solid black;
    border-radius: $border-radius;
    font-size: 24px;
    margin: 40px auto;
    padding: 24px;
    width: 65%;
  }


}

/*/--------------  CAROUSEL  ----------------/*/
.fullFooter {
  background-color: var(--aqua);
  border-top:2px solid black;
  bottom:0;
  display: flex;
  justify-content: space-between;
  position:fixed;
  padding:10px 0 10px;
  width:100%;     

  h4 {
    background:rgba(0, 0, 0, 0.7);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color:white;
    font-size:24px;
    margin-top:0;
    padding:5px 0;
    text-align: center;
    transition: $transition-all 0.3s;
    &:hover {
      background:rgba(0, 0, 0, 0.9);
      transition: $transition-all 0.3s;
    }
  }

  a {
    display:flex;
    flex-direction: row;
    text-decoration: none;;
    flex-basis:20%;
    justify-content: center;
    width:15%;

    figure {
      width: 100%;
      height: 150px;
      background-size: 130%;
      background-position: center,center;
      border-radius:5px;
    }
  }
}

/*/--------------  LISTINGS  ----------------/*/

/*/--------------  DETAIL  ----------------/*/

#detail {
  background: white;
  border: 3px solid black;
  width: 60%;
  margin: 40px auto;

  section.dao {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    min-height: 500px;

    figure {
      border-right: 3px solid black;
      grid-area: 1 / 1 / 9 / 4;
      margin: 0;
      padding: 10px;
      text-align: center;
      img {
        max-width: 100%;
      }
    }
    section.info {
      padding: 20px 40px;
      grid-area: 1 / 4 / 7 / 12;
    }
    .left {
      background: $orangecream;
      grid-area: 7 / 4 / 9 / 8;
      padding: 25px 30px;
    }

    .right {
      background: $orangecream;
      grid-area: 7 / 8 / 9 / 12;
      padding: 25px 30px;
      text-align: right;
    }
  }
}

/*/--------------  SUBMIT FORM & THANK YOU  ----------------/*/

/*/--------------  SHARED & MISC  ----------------/*/

/* MAPPING */
